## DS300 Problem Set 1

In [ ]:
import numpy as np
import os
import pandas as pd

In [ ]:
data = pd.read_csv("adult_with_pii.csv",index_col=False)
data

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,Karrie Trusslove,9/7/67,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Brandise Tripony,6/7/88,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Brenn McNeely,8/6/91,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Dorry Poter,4/6/09,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Dick Honnan,9/16/51,220-93-3811,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Ardyce Golby,10/29/61,212-61-8338,41328,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,Jean O'Connor,6/28/52,737-32-2919,94735,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,Reuben Skrzynski,8/9/66,314-48-0219,49628,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,Caye Biddle,5/19/78,647-75-3550,8213,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,Hortense Hardesty,5/11/12,690-42-5638,86153,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Preliminary analysis of quantitative variables
print(data.copy().drop(columns=['Zip']).describe())
print(data.value_counts('Age'))

                Age        fnlwgt  Education-Num  Capital Gain  Capital Loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       Hours per week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
86      1
87      1
Length: 73, dtype: int64

## Age
Values 17 through 90, skewed to the right since there are fewer seniors than any other age group. Looking at the value counts, we can see the number of instances trickle out as we get into the high 80s.

## Education-num
The education-num represents a bunch of different education brackets, High-school Grad starting at 9. As you can see 75% or more of people have at least a high school education and the mean is right above an Associate's degree. Education is left-skewed so the outliers are towards lower education

## Capital Gain

In [ ]:
qual_vars = ['Name', 'Zip', 'Workclass', 'Occupation', 'Race', 'Sex', 'Education', 'Country', 'Target']
qual_dist = [data.value_counts(subset=[qual_var], normalize=True) for qual_var in qual_vars]
#The normalized value_counts give us a general idea of the distribution of the qualitative variables


#I set this so that the print out is cleaner
pd.options.display.max_rows = 16

In [ ]:
printout = [str(qual_vars) for qual_vars in qual_dist]
for i in range(len(printout)):
    printout[i] += "\n"*max(0,18-len(printout[i].split("\n")))
    #This allows us to numpy.stack and create a uniform printout
    #print(len(str(printout[i]).split('\n')))
    
#These sections are hand-picked to make all the values fit in sections
stacked_section1 = np.stack([line.split('\n') for line in printout[:3]], axis=-1)
section1 = np.array(["\t".join(line) for line in stacked_section1])
stacked_section2 = np.stack([line.split('\n') for line in printout[3:-3]], axis=-1)
section2 = np.array(["\t".join(line) for line in stacked_section2])
stacked_section3 = np.stack([line.split('\n') for line in printout[-3:]], axis=-1)
section3 = np.array(["\t".join(line) for line in stacked_section3])

#Have to hand pick these values too, but it all works out
section1[0] = "Name\t\t\t\tZip\t\t\tWorkclass"
section2[0] = "Occupation\t\t\tRace\t\t\t\tSex"
section3[0] = "Education\t\t\tCountry\t\t\t\t\tTarget"

for i in section1: print(i)
for i in section2: print(i)
for i in section3: print(i)

Name				Zip			Workclass
Zuzana Wealleans    0.000031	32527    0.000154	Private             0.738682
Eula Candey         0.000031	69315    0.000154	Self-emp-not-inc    0.082701
Eugenio Hamments    0.000031	35283    0.000154	Local-gov           0.068120
Eugenio Terrazzo    0.000031	39163    0.000154	State-gov           0.042246
Eugenius Balfour    0.000031	3187     0.000123	Self-emp-inc        0.036322
                      ...   	           ...   	Federal-gov         0.031245
Maurits Dormer      0.000031	64430    0.000031	Without-pay         0.000456
Maurits Gretton     0.000031	64432    0.000031	Never-worked        0.000228
Maurits Paoli       0.000031	64436    0.000031	dtype: float64
Maurits Stenner     0.000031	64438    0.000031
Aaren Wratten       0.000031	4        0.000031
Length: 32561, dtype: float64	Length: 27791, dtype: float64





Occupation			Race				Sex
Prof-specialty       0.134774	White                 0.854274	Male      0.669205
Craft-repair         0.133440	Black                 0.095943	Female    0.330795
Exec-managerial      0.132365	Asian-Pac-Islander    0.031909	dtype: float64
Adm-clerical         0.122729	Amer-Indian-Eskimo    0.009551
Sales                0.118823	Other                 0.008323
Other-service        0.107266	dtype: float64
Machine-op-inspct    0.065174
Transport-moving     0.051989
Handlers-cleaners    0.044599
Farming-fishing      0.032359
Tech-support         0.030210
Protective-serv      0.021128
Priv-house-serv      0.004851
Armed-Forces         0.000293
dtype: float64


Education			Country					Target
HS-grad         0.322502	United-States                 0.912190	<=50K     0.75919
Some-college    0.223918	Mexico                        0.020108	>50K      0.24081
Bachelors       0.164461	Philippines                   0.006192	dtype: float64
Masters         0.052916	Germany                       0.004284
Assoc-voc       0.042443	Canada                        0.003784
11th            0.036086	                                ...
Assoc-acdm      0.032769	Outlying-US(Guam-USVI-etc)    0.000438
10th            0.028654	Honduras                      0.000407
7th-8th         0.019840	Hungary                       0.000407
Prof-school     0.017690	Scotland                      0.000375
9th             0.015786	Holand-Netherlands            0.000031
12th            0.013298	Length: 41, dtype: float64
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
dtype: float64

In [ ]:
data["Education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)